RewriteEngine On
RewriteBase /

# Rediriger toutes les requêtes HTTP vers HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Rediriger toutes les requêtes vers le fichier index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [L]
